/* @TODO: Move most of these to _variables.scss */
/* line 1, ../sass/layouts/_responsive.scss */
.cm-agenda {
  /* Float, flex and scrollbars. Only for non-mobile sizes */
}
@media screen and (min-width: 48.25em) {
  /* line 1, ../sass/layouts/_responsive.scss */
  .cm-agenda {
    height: 100vh;
  }
  /* line 6, ../sass/layouts/_responsive.scss */
  .cm-agenda .cm-agenda-left {
    float: left;
    max-width: 59%;
    margin-right: 2%;
  }
  /* line 11, ../sass/layouts/_responsive.scss */
  .cm-agenda .cm-agenda-wrapper {
    float: right;
    width: calc(100vh * 0.84);
    max-width: 100%;
  }
  /* line 16, ../sass/layouts/_responsive.scss */
  .cm-agenda .cm-agenda-right {
    height: calc(100vh);
    width: 39%;
    float: left;
  }
  /* line 24, ../sass/layouts/_responsive.scss */
  .cm-agenda .cm-agenda-left .cm-agenda-speaker-container, .cm-agenda .cm-agenda-right .cm-agenda-speaker-container {
    display: block;
    width: 100%;
  }
  /* line 28, ../sass/layouts/_responsive.scss */
  .cm-agenda .cm-agenda-left .cm-agenda-info-container, .cm-agenda .cm-agenda-right .cm-agenda-info-container {
    height: calc(26vh * 1.71);
    position: relative;
  }
  /* line 31, ../sass/layouts/_responsive.scss */
  .cm-agenda .cm-agenda-left .cm-agenda-info-container .cm-agenda-info, .cm-agenda .cm-agenda-right .cm-agenda-info-container .cm-agenda-info {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
  }
  /* line 37, ../sass/layouts/_responsive.scss */
  .cm-agenda .cm-agenda-left .cm-agenda-chapter-container, .cm-agenda .cm-agenda-left .field-cm-agenda-description, .cm-agenda .cm-agenda-right .cm-agenda-chapter-container, .cm-agenda .cm-agenda-right .field-cm-agenda-description {
    max-height: calc(100vh - 70px);
    overflow: auto;
  }
}

@media screen and (min-width: 48.25em) {
  /* line 51, ../sass/layouts/_responsive.scss */
  .cm-agenda-live-admin-form .cm-agenda-left {
    width: 39%;
    height: calc(100vh - 200px);
  }
  /* line 55, ../sass/layouts/_responsive.scss */
  .cm-agenda-live-admin-form .cm-agenda-right {
    width: 59%;
    height: calc(100vh - 200px);
  }
  /* line 58, ../sass/layouts/_responsive.scss */
  .cm-agenda-live-admin-form .cm-agenda-right .cm-agenda-chapter-container {
    height: calc(100vh - 560px);
  }
}

/**
 * @file
 * Stylesheet for CM Agenda admin view.
 *
 * This stylesheet is used on the admin view for CM Agenda nodes.
 */
/* line 8, ../sass/components/_admin.scss */
.cm-agenda-live-admin-form {
  /* Active speaker div */
}
/* line 9, ../sass/components/_admin.scss */
.cm-agenda-live-admin-form a[href], .cm-agenda-live-admin-form input[type='submit'], .cm-agenda-live-admin-form input[type='image'], .cm-agenda-live-admin-form label[for], .cm-agenda-live-admin-form select, .cm-agenda-live-admin-form button, .cm-agenda-live-admin-form .pointer {
  cursor: pointer;
}
/* line 12, ../sass/components/_admin.scss */
.cm-agenda-live-admin-form fieldset {
  background: #eee;
  margin: 1em 0;
  border: 1px solid #ccc;
}
/* line 16, ../sass/components/_admin.scss */
.cm-agenda-live-admin-form fieldset.cm-agenda-live-admin-chapter {
  padding: 0;
}
/* line 20, ../sass/components/_admin.scss */
.cm-agenda-live-admin-form input[type="text"] {
  width: 100%;
}
/* line 23, ../sass/components/_admin.scss */
.cm-agenda-live-admin-form input[type="submit"] {
  background: #07527c;
  color: #eee;
}
/* line 27, ../sass/components/_admin.scss */
.cm-agenda-live-admin-form input[type="submit"]:hover {
  background: #aedfe4;
  color: #07527c;
}
/* line 31, ../sass/components/_admin.scss */
.cm-agenda-live-admin-form input[type="submit"]:disabled {
  background: #AAA;
  color: #777;
}
/* line 35, ../sass/components/_admin.scss */
.cm-agenda-live-admin-form legend {
  background: #fff;
  border: 1px solid #ccc;
  padding: 0.25em 0.5em;
  text-transform: uppercase;
  font-size: 0.875em;
}
/* line 42, ../sass/components/_admin.scss */
.cm-agenda-live-admin-form .form-item {
  margin: 0.5em 0;
}
/* line 45, ../sass/components/_admin.scss */
.cm-agenda-live-admin-form h3 {
  margin: 0;
}
/* line 49, ../sass/components/_admin.scss */
.cm-agenda-live-admin-form .cm-agenda-speaker #speakerbox {
  margin: 0.5em 0;
}
/* line 51, ../sass/components/_admin.scss */
.cm-agenda-live-admin-form .cm-agenda-speaker #speakerbox.active {
  padding: 0.25em 1em;
  background: #FF1515;
  color: #000;
  margin-bottom: 0.5em;
  font-weight: bold;
}
/* line 60, ../sass/components/_admin.scss */
.cm-agenda-live-admin-form .cm-agenda-workflow {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  /* Time */
}
/* line 62, ../sass/components/_admin.scss */
.cm-agenda-live-admin-form .cm-agenda-workflow legend {
  margin-left: 1em;
}
/* line 65, ../sass/components/_admin.scss */
.cm-agenda-live-admin-form .cm-agenda-workflow .cm-agenda-workflow-state-container {
  font-size: 0.875em;
  margin-top: 0.5em;
}
/* line 68, ../sass/components/_admin.scss */
.cm-agenda-live-admin-form .cm-agenda-workflow .cm-agenda-workflow-state-container .cm-agenda-workflow-state-label {
  background: #000;
  color: #fff;
  padding: 0.125em 1.175em;
  float: left;
  margin-right: 0.5em;
  border: 1px solid #000;
}
/* line 76, ../sass/components/_admin.scss */
.cm-agenda-live-admin-form .cm-agenda-workflow .cm-agenda-workflow-state-container .cm-agenda-workflow-state {
  color: #000;
  padding: 0.125em 0.5em;
}
/* line 79, ../sass/components/_admin.scss */
.cm-agenda-live-admin-form .cm-agenda-workflow .cm-agenda-workflow-state-container .cm-agenda-workflow-state.cm-agenda-state-post_live, .cm-agenda-live-admin-form .cm-agenda-workflow .cm-agenda-workflow-state-container .cm-agenda-workflow-state.cm-agenda-state-restrict {
  color: #a94442;
  background-color: #f2dede;
  border: 1px solid #ebccd1;
}
/* line 84, ../sass/components/_admin.scss */
.cm-agenda-live-admin-form .cm-agenda-workflow .cm-agenda-workflow-state-container .cm-agenda-workflow-state.cm-agenda-state-live, .cm-agenda-live-admin-form .cm-agenda-workflow .cm-agenda-workflow-state-container .cm-agenda-workflow-state.cm-agenda-state-vod {
  color: #3c763d;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
}
/* line 92, ../sass/components/_admin.scss */
.cm-agenda-live-admin-form .cm-agenda-workflow .cm-agenda-time {
  padding: 0.125em 1em;
  border: 1px solid #ccc;
  margin: 0;
  background: #fff;
}
/* line 97, ../sass/components/_admin.scss */
.cm-agenda-live-admin-form .cm-agenda-workflow .cm-agenda-time .cm-agenda-timebox {
  float: left;
  margin: 0.5em 1em 0.5em 0;
}
/* line 101, ../sass/components/_admin.scss */
.cm-agenda-live-admin-form .cm-agenda-workflow .cm-agenda-time input {
  margin: 0.25em 0;
  float: right;
}
/* line 106, ../sass/components/_admin.scss */
.cm-agenda-live-admin-form .cm-agenda-workflow input {
  display: block;
  margin-top: 1em;
}
/* line 111, ../sass/components/_admin.scss */
.cm-agenda-live-admin-form .cm-agenda-chapter-container {
  background: #ffffff;
  height: 70vh;
  border-top: 1px solidt #ddd;
  border-bottom: 1px solid #ddd;
}
/* line 118, ../sass/components/_admin.scss */
.cm-agenda-live-admin-form .cm-agenda-live-admin-chapter {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
/* line 120, ../sass/components/_admin.scss */
.cm-agenda-live-admin-form .cm-agenda-live-admin-chapter legend {
  margin-left: 1em;
}
/* line 123, ../sass/components/_admin.scss */
.cm-agenda-live-admin-form .cm-agenda-live-admin-chapter .cm-agenda-admin-chapter-header {
  overflow: hidden;
  padding: 1em;
}
/* line 126, ../sass/components/_admin.scss */
.cm-agenda-live-admin-form .cm-agenda-live-admin-chapter .cm-agenda-admin-chapter-header .cm-add-chapter {
  float: right;
}
/* line 130, ../sass/components/_admin.scss */
.cm-agenda-live-admin-form .cm-agenda-live-admin-chapter .form-type-radio {
  clear: both;
  border-bottom: 1px solid #ccc;
}
/* line 134, ../sass/components/_admin.scss */
.cm-agenda-live-admin-form .cm-agenda-live-admin-chapter .form-item input[type="radio"] {
  display: none;
}
/* line 137, ../sass/components/_admin.scss */
.cm-agenda-live-admin-form .cm-agenda-live-admin-chapter .form-item label.option {
  display: table;
  width: 100%;
}
/* line 141, ../sass/components/_admin.scss */
.cm-agenda-live-admin-form .cm-agenda-live-admin-chapter .form-item label.option span, .cm-agenda-live-admin-form .cm-agenda-live-admin-chapter .form-item label.option a {
  display: table-cell;
}
/* line 144, ../sass/components/_admin.scss */
.cm-agenda-live-admin-form .cm-agenda-live-admin-chapter .form-item label.option a {
  width: 5em;
  font-size: 87.5%;
  padding: 0 0.5em;
}
/* line 149, ../sass/components/_admin.scss */
.cm-agenda-live-admin-form .cm-agenda-live-admin-chapter .form-item input[type="radio"][disabled] + label.option, .cm-agenda-live-admin-form .cm-agenda-live-admin-chapter .form-item label.option span.finished {
  color: #969696;
  text-decoration: line-through;
}
/* line 153, ../sass/components/_admin.scss */
.cm-agenda-live-admin-form .cm-agenda-live-admin-chapter .form-item label.option:hover {
  background: #fff;
  color: #000;
}
/* line 157, ../sass/components/_admin.scss */
.cm-agenda-live-admin-form .cm-agenda-live-admin-chapter .form-item label.option span {
  padding: 0.25em 1em;
}
/* line 160, ../sass/components/_admin.scss */
.cm-agenda-live-admin-form .cm-agenda-live-admin-chapter .form-item input[type="radio"]:checked + label.option span {
  background: #0FF012;
  color: #000;
}
/* line 164, ../sass/components/_admin.scss */
.cm-agenda-live-admin-form .cm-agenda-live-admin-chapter .form-item input[type="radio"] + label.option span.started {
  background: #FF1515;
  font-weight: bold;
}

/**
 * @file
 * General stylesheet for CM Agenda presentation pages.
 *
 * This stylesheet is ised on all pages where the cm-agenda-page body class is added.
 */
/* line 8, ../sass/components/_presenter.scss */
body.not-logged-in.node-type-cm-agenda .tabs-primary {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/* line 12, ../sass/components/_presenter.scss */
a:hover, a:active, a:focus {
  outline: 0;
}

/* line 18, ../sass/components/_presenter.scss */
.cm-agenda-page header img {
  max-height: 4.5em;
}

/* Responsive video, as Fitvids doesn't work with MediaFront */
/* line 25, ../sass/components/_presenter.scss */
.cm-agenda-video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  z-index: 99;
}
/* line 31, ../sass/components/_presenter.scss */
.cm-agenda-video .media-youtube-video {
  width: 100%;
  position: relative;
  padding: 0;
}
/* line 37, ../sass/components/_presenter.scss */
.cm-agenda-video iframe, .cm-agenda-video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Overriding Zen normalize */
/* line 47, ../sass/components/_presenter.scss */
#content .node-cm-agenda ul.cm-agenda-chapter-list li {
  padding-left: 0;
  text-indent: 0;
}

/* line 51, ../sass/components/_presenter.scss */
#content .node-cm-agenda ul.cm-agenda-chapter-list li:before {
  content: "";
  padding: 0;
}

/* Primary tabs for admin users */
/* line 58, ../sass/components/_presenter.scss */
.node-type-cm-agenda .tabs-primary {
  float: right;
  margin-right: 1em;
}
/* line 63, ../sass/components/_presenter.scss */
.node-type-cm-agenda ul.primary .tabs-primary__tab-link {
  color: #eee;
  background-color: #666;
  padding: 0.5em;
}
/* line 67, ../sass/components/_presenter.scss */
.node-type-cm-agenda ul.primary .tabs-primary__tab-link.active {
  background: #000;
  color: #fff;
}

/**
 * All CM Agenda pages
 */
/* Layout columns */
/* line 80, ../sass/components/_presenter.scss */
.cm-agenda-left, .cm-agenda-right {
  margin-bottom: 1em;
}

/* line 83, ../sass/components/_presenter.scss */
.cm-agenda-speaker-block {
  margin-bottom: 1.5em;
}

/* line 87, ../sass/components/_presenter.scss */
.cm-agenda-presenter, .cm-agenda-live {
  /* Bootstrap-style alert boxes. */
}
/* line 88, ../sass/components/_presenter.scss */
.cm-agenda-presenter .cm-agenda-video, .cm-agenda-live .cm-agenda-video {
  text-align: center;
}
/* line 92, ../sass/components/_presenter.scss */
.cm-agenda-presenter .cm-agenda-speaker-container h2, .cm-agenda-live .cm-agenda-speaker-container h2 {
  display: inline-block;
  font-size: 1em;
  padding: 0.5em 0.5em 0.5em 0;
  line-height: 2em;
}
/* line 98, ../sass/components/_presenter.scss */
.cm-agenda-presenter .cm-agenda-speaker-container .cm-agenda-speaker-name, .cm-agenda-live .cm-agenda-speaker-container .cm-agenda-speaker-name {
  display: none;
}
/* line 100, ../sass/components/_presenter.scss */
.cm-agenda-presenter .cm-agenda-speaker-container .cm-agenda-speaker-name.active, .cm-agenda-live .cm-agenda-speaker-container .cm-agenda-speaker-name.active {
  display: inline-block;
  line-height: 2em;
}
/* line 106, ../sass/components/_presenter.scss */
.cm-agenda-presenter .cm-agenda-info-container, .cm-agenda-live .cm-agenda-info-container {
  margin-top: 1em;
}
/* line 110, ../sass/components/_presenter.scss */
.cm-agenda-presenter .cm-agenda-info-container .cm-agenda-info .cm-agenda-info-wrapper .cm-agenda-info-title, .cm-agenda-live .cm-agenda-info-container .cm-agenda-info .cm-agenda-info-wrapper .cm-agenda-info-title {
  line-height: 1.375em;
}
/* line 121, ../sass/components/_presenter.scss */
.cm-agenda-presenter .cm-agenda-chapter-container .cm-agenda-chapter-list, .cm-agenda-live .cm-agenda-chapter-container .cm-agenda-chapter-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* line 126, ../sass/components/_presenter.scss */
.cm-agenda-presenter .cm-agenda-chapter-container .cm-agenda-chapter-list .cm-agenda-chapter .cm-agenda-chapter-spanlink, .cm-agenda-live .cm-agenda-chapter-container .cm-agenda-chapter-list .cm-agenda-chapter .cm-agenda-chapter-spanlink {
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  border-top: 1px solid #ddd;
}
/* line 132, ../sass/components/_presenter.scss */
.cm-agenda-presenter .cm-agenda-chapter-container .cm-agenda-chapter-list .cm-agenda-chapter:first-child .cm-agenda-chapter-spanlink, .cm-agenda-live .cm-agenda-chapter-container .cm-agenda-chapter-list .cm-agenda-chapter:first-child .cm-agenda-chapter-spanlink {
  border-top: none;
}
/* line 136, ../sass/components/_presenter.scss */
.cm-agenda-presenter .cm-agenda-chapter-container .cm-agenda-chapter-list .cm-agenda-chapter ul, .cm-agenda-live .cm-agenda-chapter-container .cm-agenda-chapter-list .cm-agenda-chapter ul {
  display: none;
}
/* line 140, ../sass/components/_presenter.scss */
.cm-agenda-presenter .cm-agenda-chapter-container .cm-agenda-chapter-list .cm-agenda-chapter.started, .cm-agenda-live .cm-agenda-chapter-container .cm-agenda-chapter-list .cm-agenda-chapter.started {
  font-weight: bold;
}
/* line 142, ../sass/components/_presenter.scss */
.cm-agenda-presenter .cm-agenda-chapter-container .cm-agenda-chapter-list .cm-agenda-chapter.started > .cm-agenda-chapter-spanlink, .cm-agenda-live .cm-agenda-chapter-container .cm-agenda-chapter-list .cm-agenda-chapter.started > .cm-agenda-chapter-spanlink {
  background: #e7e7e7;
}
/* line 150, ../sass/components/_presenter.scss */
.cm-agenda-presenter .cm-agenda-chapter-container .cm-agenda-chapter-list .cm-agenda-chapter.started ul, .cm-agenda-live .cm-agenda-chapter-container .cm-agenda-chapter-list .cm-agenda-chapter.started ul {
  display: block;
  font-weight: normal;
  border-left: 5px solid #e7e7e7;
}
/* line 156, ../sass/components/_presenter.scss */
.cm-agenda-presenter .cm-agenda-chapter-container .cm-agenda-chapter-list .cm-agenda-chapter.started ul li .cm-agenda-chapter-speaker, .cm-agenda-live .cm-agenda-chapter-container .cm-agenda-chapter-list .cm-agenda-chapter.started ul li .cm-agenda-chapter-speaker {
  display: block;
  padding: 0.125em 0.75em 0.125em 2em;
  text-decoration: none;
  font-size: 0.875em;
}
/* line 164, ../sass/components/_presenter.scss */
.cm-agenda-presenter .cm-agenda-chapter-container .cm-agenda-chapter-list .cm-agenda-chapter.started ul li.started, .cm-agenda-live .cm-agenda-chapter-container .cm-agenda-chapter-list .cm-agenda-chapter.started ul li.started {
  font-weight: bold;
}
/* line 170, ../sass/components/_presenter.scss */
.cm-agenda-presenter .cm-agenda-chapter-container .cm-agenda-chapter-list .cm-agenda-chapter.finished, .cm-agenda-live .cm-agenda-chapter-container .cm-agenda-chapter-list .cm-agenda-chapter.finished {
  text-decoration: line-through;
}
/* line 175, ../sass/components/_presenter.scss */
.cm-agenda-presenter .cm-agenda-chapter-container .cm-agenda-chapter-list a:hover, .cm-agenda-live .cm-agenda-chapter-container .cm-agenda-chapter-list a:hover {
  background: #eee;
}
/* line 182, ../sass/components/_presenter.scss */
.cm-agenda-presenter .alert, .cm-agenda-live .alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
/* line 187, ../sass/components/_presenter.scss */
.cm-agenda-presenter .alert a, .cm-agenda-live .alert a {
  text-decoration: underline;
}
/* line 191, ../sass/components/_presenter.scss */
.cm-agenda-presenter .alert-info, .cm-agenda-live .alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
/* line 196, ../sass/components/_presenter.scss */
.cm-agenda-presenter .alert-warning, .cm-agenda-live .alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

/* Countdown on Live */
/* line 204, ../sass/components/_presenter.scss */
.cm-agenda-countdown-container {
  display: inline-block;
  background: #666;
  color: #f7f7f7;
  padding: 1.5em 1em;
  font-size: 1.5em;
  border-radius: 0.5em;
  text-align: center;
}
/* line 212, ../sass/components/_presenter.scss */
.cm-agenda-countdown-container .cm-agenda-countdown {
  display: block;
  margin: 0.5em 0 0;
}
/* line 215, ../sass/components/_presenter.scss */
.cm-agenda-countdown-container .cm-agenda-countdown .countdown-item {
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  color: #d4d4d4;
  font-size: 16px;
}
@media (min-width: 992px) {
  /* line 215, ../sass/components/_presenter.scss */
  .cm-agenda-countdown-container .cm-agenda-countdown .countdown-item {
    font-size: 20px;
  }
}
/* line 224, ../sass/components/_presenter.scss */
.cm-agenda-countdown-container .cm-agenda-countdown .countdown-item + .countdown-item {
  margin-left: 30px;
}
@media (min-width: 992px) {
  /* line 224, ../sass/components/_presenter.scss */
  .cm-agenda-countdown-container .cm-agenda-countdown .countdown-item + .countdown-item {
    margin-left: 40px;
  }
}
/* line 229, ../sass/components/_presenter.scss */
.cm-agenda-countdown-container .cm-agenda-countdown .countdown-item + .countdown-item:before {
  left: -19px;
  line-height: 50px;
  font-size: 50px;
  content: ":";
  position: absolute;
  display: inline-block;
}
@media (min-width: 992px) {
  /* line 229, ../sass/components/_presenter.scss */
  .cm-agenda-countdown-container .cm-agenda-countdown .countdown-item + .countdown-item:before {
    left: -25px;
    line-height: 70px;
    font-size: 70px;
  }
}
/* line 243, ../sass/components/_presenter.scss */
.cm-agenda-countdown-container .cm-agenda-countdown .countdown-item b {
  line-height: 50px;
  font-size: 50px;
  display: block;
  color: #fff;
}
@media (min-width: 992px) {
  /* line 243, ../sass/components/_presenter.scss */
  .cm-agenda-countdown-container .cm-agenda-countdown .countdown-item b {
    line-height: 70px;
    font-size: 70px;
  }
}

/*
** Tabs for chapters and agenda description. Idea from http://codepen.io/Merri/pen/bytea
** (based on https://css-tricks.com/functional-css-tabs-revisited)
 */
/* line 263, ../sass/components/_presenter.scss */
.cm-agenda-tabs {
  height: 100%;
}
/* line 265, ../sass/components/_presenter.scss */
.cm-agenda-tabs:after {
  clear: both;
  content: '';
  display: table;
}
/* line 270, ../sass/components/_presenter.scss */
.cm-agenda-tabs .cm-agenda-tab {
  display: inline;
  height: 100%;
}
/* line 273, ../sass/components/_presenter.scss */
.cm-agenda-tabs .cm-agenda-tab .cm-agenda-tab-label {
  border-radius: 4px 4px 0 0;
  display: inline-block;
  left: 1px;
  margin-left: -1px;
  margin-bottom: 0;
  padding: 10px;
  position: relative;
  vertical-align: bottom;
}
/* line 282, ../sass/components/_presenter.scss */
.cm-agenda-tabs .cm-agenda-tab .cm-agenda-tab-label:hover {
  border-color: #eee #eee #ddd;
  background-color: #eee;
  cursor: pointer;
}
/* line 288, ../sass/components/_presenter.scss */
.cm-agenda-tabs .cm-agenda-tab > [type="radio"] {
  clip: rect(0 0 0 0);
  height: 1px;
  opacity: 0;
  position: fixed;
  width: 1px;
  z-index: -1;
}
/* line 296, ../sass/components/_presenter.scss */
.cm-agenda-tabs .cm-agenda-tab [type="radio"]:checked + .cm-agenda-tab-label {
  background: #fff;
  border: 1px solid #ddd;
  border-bottom-width: 0;
  padding-bottom: 11px;
  z-index: 1;
}
/* line 303, ../sass/components/_presenter.scss */
.cm-agenda-tabs .cm-agenda-tab [type="radio"]:checked ~ .cm-agenda-tab-panel {
  display: inline;
}
/* line 306, ../sass/components/_presenter.scss */
.cm-agenda-tabs .cm-agenda-tab .cm-agenda-tab-panel {
  display: inline;
  height: 100%;
  display: inline-block;
  overflow: hidden;
  position: relative;
  height: 0;
  width: 0;
}
/* line 314, ../sass/components/_presenter.scss */
.cm-agenda-tabs .cm-agenda-tab .cm-agenda-tab-panel .cm-agenda-tab-content {
  height: auto;
  display: block;
  padding: 0;
  float: left;
  font-size: 16px;
  font-size: 1rem;
  margin-top: -1px;
  width: 100%;
}
/* line 323, ../sass/components/_presenter.scss */
.cm-agenda-tabs .cm-agenda-tab .cm-agenda-tab-panel .cm-agenda-tab-content > div {
  border: 1px solid #ddd;
}
/* line 329, ../sass/components/_presenter.scss */
.cm-agenda-tabs .cm-agenda-tab.cm-agenda-tab-chapters .cm-agenda-tab-content {
  height: 100%;
}
/* line 334, ../sass/components/_presenter.scss */
.cm-agenda-tabs .cm-agenda-tab .cm-agenda-tab-content > div {
  padding: 1em;
}
/* line 340, ../sass/components/_presenter.scss */
.cm-agenda-tabs .cm-agenda-tab.cm-agenda-tab-chapters .cm-agenda-tab-content > div {
  padding: 0;
}

/* Scrollbox with enscroll.js */
/* line 2, ../sass/components/_enscroll.scss */
.vertical-track {
  width: 10px;
  background-clip: padding-box;
  background: rgba(0, 0, 0, 0.05);
  border-style: solid;
  border-color: transparent;
  border-width: 0;
  border-left-width: 1px;
}

/* line 11, ../sass/components/_enscroll.scss */
.vertical-track.dragging,
.vertical-track:hover {
  background: #f2f2f2;
  /* No RGBA support */
  background: rgba(0, 0, 0, 0.05);
  box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1);
}

/* line 18, ../sass/components/_enscroll.scss */
.vertical-track:active {
  background: #f2f2f2;
  /* No RGBA support */
  background: rgba(0, 0, 0, 0.05);
  box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.14), inset -1px -1px 0 rgba(0, 0, 0, 0.07);
}

/* line 26, ../sass/components/_enscroll.scss */
.vertical-handle {
  width: 10px;
  background-clip: padding-box;
  background: #ccc;
  /* No RGBA support */
  background: rgba(0, 0, 0, 0.2);
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}

/* line 36, ../sass/components/_enscroll.scss */
.vertical-handle:hover {
  background: #999;
  /* No RGBA support */
  background: rgba(0, 0, 0, 0.4);
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
}

/* line 42, ../sass/components/_enscroll.scss */
.dragging .vertical-handle,
.vertical-handle:active {
  background: gray;
  /* No RGBA support */
  background: rgba(0, 0, 0, 0.5);
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.35);
}

/* line 49, ../sass/components/_enscroll.scss */
.scrollbox {
  width: 100% !important;
}
