/* line 3, ../sass/cm_agenda_popcorn.scss */
.cm-agenda-popcorn .cm-agenda-info-container .cm-agenda-info {
  display: none;
}
/* line 5, ../sass/cm_agenda_popcorn.scss */
.cm-agenda-popcorn .cm-agenda-info-container .cm-agenda-info.active {
  display: block;
}
/* line 11, ../sass/cm_agenda_popcorn.scss */
.cm-agenda-popcorn .cm-agenda-speaker-container .cm-agenda-speaker-name {
  display: none;
}
/* line 13, ../sass/cm_agenda_popcorn.scss */
.cm-agenda-popcorn .cm-agenda-speaker-container .cm-agenda-speaker-name.active {
  display: inline-block;
}
