/**
 * @file
 * Stylesheet for CM Agenda admin view.
 *
 * This stylesheet is used on the admin view for CM Agenda nodes.
 */

.cm-agenda-live-admin-form {
  a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
    cursor: pointer;
  }
  fieldset {
    background: #eee;
    margin: 1em 0;
    border: 1px solid #ccc;
    &.cm-agenda-live-admin-chapter {
      padding: 0;
    }
  }
  input[type="text"] {
    width: 100%;
  }
  input[type="submit"] {
    background: #07527c;
    color: #eee;
  }
  input[type="submit"]:hover {
    background: #aedfe4;
    color: #07527c;
  }
  input[type="submit"]:disabled {
    background: #AAA;
    color: #777;
  }
  legend {
    background: #fff;
    border: 1px solid #ccc;
    padding: 0.25em 0.5em;
    text-transform: uppercase;
    font-size: 0.875em;
  }
  .form-item {
    margin: 0.5em 0;
  }
  h3 {
    margin: 0;
  }
  /* Active speaker div */
  .cm-agenda-speaker #speakerbox {
    margin: 0.5em 0;
    &.active {
      padding: 0.25em 1em;
      background: #FF1515;
      color: #000;
      margin-bottom: 0.5em;
      font-weight: bold;
    }
  }

  .cm-agenda-workflow {
    flex: 1 0 auto;
    legend {
      margin-left: 1em;
    }
    .cm-agenda-workflow-state-container {
      font-size: 0.875em;
      margin-top: 0.5em;
      .cm-agenda-workflow-state-label {
        background: #000;
        color: #fff;
        padding: 0.125em 1.175em;
        float: left;
        margin-right: 0.5em;
        border: 1px solid #000;
      }
      .cm-agenda-workflow-state {
        color: #000;
        padding: 0.125em 0.5em;
        &.cm-agenda-state-post_live, &.cm-agenda-state-restrict {
          color: #a94442;
          background-color: #f2dede;
          border: 1px solid #ebccd1;
        }
        &.cm-agenda-state-live, &.cm-agenda-state-vod {
          color: #3c763d;
          background-color: #dff0d8;
          border: 1px solid #d6e9c6;
        }
      }
    }
    /* Time */
    .cm-agenda-time {
      padding: 0.125em 1em;
      border: 1px solid #ccc;
      margin: 0;
      background: #fff;
      .cm-agenda-timebox {
        float: left;
        margin: 0.5em 1em 0.5em 0;
      }
      input {
        margin: 0.25em 0;
        float: right;
      }
    }
    input {
      display: block;
      margin-top: 1em;
    }
  }
  .cm-agenda-chapter-container {
    background: #ffffff;
    height: 70vh;
    border-top: 1px solidt #ddd;
    border-bottom: 1px solid #ddd;
  }

  .cm-agenda-live-admin-chapter {
    flex: 1 0 auto;
    legend {
      margin-left: 1em;
    }
    .cm-agenda-admin-chapter-header {
      overflow: hidden;
      padding: 1em;
      .cm-add-chapter {
        float: right;
      }
    }
    .form-type-radio {
      clear: both;
      border-bottom: 1px solid #ccc;
    }
    .form-item input[type="radio"] {
      display: none;
    }
    .form-item label.option {
      display: table;
      width: 100%;
    }
    .form-item label.option span, .form-item label.option a {
      display: table-cell;
    }
    .form-item label.option a {
      width: 5em;
      font-size: 87.5%;
      padding: 0 0.5em;
    }
    .form-item input[type="radio"][disabled] + label.option, .form-item label.option span.finished {
      color: #969696;
      text-decoration: line-through;
    }
    .form-item label.option:hover  {
      background: #fff;
      color: #000;
    }
    .form-item label.option span {
      padding: 0.25em 1em;
    }
    .form-item input[type="radio"]:checked + label.option span {
      background: #0FF012;
      color: #000;
    }
    .form-item input[type="radio"] + label.option span.started {
      background: #FF1515;
      font-weight: bold;
    }
  }
}
