/* Scrollbox with enscroll.js */
.vertical-track {
  width: 10px;
  background-clip: padding-box;
  background: rgba(0, 0, 0, 0.05);
  border-style: solid;
  border-color: transparent;
  border-width: 0;
  border-left-width: 1px;
}
.vertical-track.dragging,
.vertical-track:hover {
  background: #f2f2f2; /* No RGBA support */
  background: rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1);
}
.vertical-track:active {
  background: #f2f2f2; /* No RGBA support */
  background: rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.14),
                      inset -1px -1px 0 rgba(0, 0, 0, 0.07);
  box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.14),
              inset -1px -1px 0 rgba(0, 0, 0, 0.07);
}
.vertical-handle {
  width: 10px;
  background-clip: padding-box;
  background: #ccc; /* No RGBA support */
  background: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1),
                      inset 0 -1px 0 rgba(0, 0, 0, 0.07);
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1),
              inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}
.vertical-handle:hover {
  background: #999; /* No RGBA support */
  background: rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
}
.dragging .vertical-handle,
.vertical-handle:active {
  background: gray; /* No RGBA support */
  background: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.35);
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.35);
}
.scrollbox {
  width: 100% !important;
}
