/**
 * @file
 * General stylesheet for CM Agenda presentation pages.
 *
 * This stylesheet is ised on all pages where the cm-agenda-page body class is added.
 */

body.not-logged-in.node-type-cm-agenda .tabs-primary {
  @include element-invisible;
}

a:hover, a:active, a:focus {
  outline: 0;
}

.cm-agenda-page {
  header {
    img {
      max-height: 4.5em;
    }
  }
}

/* Responsive video, as Fitvids doesn't work with MediaFront */
.cm-agenda-video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  z-index: 99;

  .media-youtube-video {
    width: 100%;
    position: relative;
    padding: 0;
  }

  iframe, video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/* Overriding Zen normalize */
#content .node-cm-agenda ul.cm-agenda-chapter-list li {
  padding-left: 0;
  text-indent: 0;
}
#content .node-cm-agenda ul.cm-agenda-chapter-list li:before {
  content: "";
  padding: 0;
}

/* Primary tabs for admin users */
.node-type-cm-agenda {
  .tabs-primary {
    float: right;
    margin-right: 1em;
  }
  ul.primary {
    .tabs-primary__tab-link {
      color: #eee;
      background-color: #666;
      padding: 0.5em;
      &.active {
        background: #000;
        color: #fff;
      }
    }
  }
}

/**
 * All CM Agenda pages
 */

/* Layout columns */
.cm-agenda-left, .cm-agenda-right {
  margin-bottom: 1em;
}
.cm-agenda-speaker-block  {
  margin-bottom: 1.5em;
}

.cm-agenda-presenter, .cm-agenda-live {
  .cm-agenda-video {
    text-align: center;
  }
  .cm-agenda-speaker-container {
    h2 {
      display: inline-block;
      font-size: 1em;
      padding: 0.5em 0.5em 0.5em 0;
      line-height: 2em;
    }
    .cm-agenda-speaker-name {
      display: none;
      &.active {
        display: inline-block;
        line-height: 2em;
      }
    }
  }
  .cm-agenda-info-container {
    margin-top: 1em;
    .cm-agenda-info {
      .cm-agenda-info-wrapper {
        .cm-agenda-info-title {
          line-height: 1.375em;
        }
      }
    }

  }
  .cm-agenda-chapter-container {
    h2 {

    }
    .cm-agenda-chapter-list {
      list-style-type: none;
      padding: 0;
      margin: 0;
      .cm-agenda-chapter {
        .cm-agenda-chapter-spanlink {
          text-decoration: none;
          display: block;
          padding: 10px 15px;
          border-top: 1px solid #ddd;
        }
        &:first-child .cm-agenda-chapter-spanlink {
          border-top: none;
        }
        // Hide speakers by default
        ul {
          display: none;
        }
        // Active chapter
        &.started {
          font-weight: bold;
          > .cm-agenda-chapter-spanlink {
            background: #e7e7e7;
          }
          .cm-agenda-chapter-spanlink {

          }

          // Display speakers for current chapter
          ul {
            display: block;
            font-weight: normal;
            border-left: 5px solid #e7e7e7;
            li {

              .cm-agenda-chapter-speaker {
                display: block;
                padding: 0.125em 0.75em 0.125em 2em;
                text-decoration: none;
                font-size: 0.875em;
              }

              // Active speaker
              &.started {
                font-weight: bold;
              }
            }
          }
        }
        &.finished {
          text-decoration: line-through;
        }

      }
      a:hover {
        background: #eee;
      }
    }
  }

  /* Bootstrap-style alert boxes. */
  .alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    a {
      text-decoration: underline;
    }
  }
  .alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
  }
  .alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
  }
}

/* Countdown on Live */
.cm-agenda-countdown-container {
  display: inline-block;
  background: #666;
  color: #f7f7f7;
  padding: 1.5em 1em;
  font-size: 1.5em;
  border-radius: 0.5em;
  text-align: center;
  .cm-agenda-countdown {
    display: block;
    margin: 0.5em 0 0;
    .countdown-item {
      text-transform: uppercase;
      display: inline-block;
      position: relative;
      color: #d4d4d4;
      font-size: 16px;
      @include respond-to(medium) {
        font-size: 20px;
      }
      &+.countdown-item {
        margin-left: 30px;
        @include respond-to(medium) {
          margin-left: 40px;
        }
        &:before {
          left: -19px;
          line-height: 50px;
          font-size: 50px;
          content: ":";
          position: absolute;
          display: inline-block;
          @include respond-to(medium) {
            left: -25px;
            line-height: 70px;
            font-size: 70px;
          }
        }
      }
      b {
        line-height: 50px;
        font-size: 50px;
        display: block;
        color: #fff;
        @include respond-to(medium) {
            line-height: 70px;
            font-size: 70px;
          }
      }
    }
  }
}


/*
** Tabs for chapters and agenda description. Idea from http://codepen.io/Merri/pen/bytea
** (based on https://css-tricks.com/functional-css-tabs-revisited)
 */

.cm-agenda-tabs {
  height: 100%;
  &:after {
    clear: both;
    content: '';
    display: table;
  }
  .cm-agenda-tab {
    display: inline;
    height: 100%;
    .cm-agenda-tab-label {
      border-radius: 4px 4px 0 0;
      display: inline-block;
      left: 1px;
      margin-left: -1px;
      margin-bottom: 0;
      padding: 10px;
      position: relative;
      vertical-align: bottom;
      &:hover {
        border-color: #eee #eee #ddd;
        background-color: #eee;
        cursor: pointer;
      }
    }
    > [type="radio"] {
      clip: rect(0 0 0 0);
      height: 1px;
      opacity: 0;
      position: fixed;
      width: 1px;
      z-index: -1;
    }
    [type="radio"]:checked + .cm-agenda-tab-label {
      background: #fff;
      border: 1px solid #ddd;
      border-bottom-width: 0;
      padding-bottom: 11px;
      z-index: 1;
    }
    [type="radio"]:checked ~ .cm-agenda-tab-panel {
      display: inline;
    }
    .cm-agenda-tab-panel {
      display: inline;
      height: 100%;
      display: inline-block;
      overflow: hidden;
      position: relative;
      height: 0;
      width: 0;
      .cm-agenda-tab-content {
        height: auto;
        display: block;
        padding: 0;
        float: left;
        font-size: 16px;
        font-size: 1rem;
        margin-top: -1px;
        width: 100%;
        > div {
          border: 1px solid #ddd;
        }
      }
    }
    &.cm-agenda-tab-chapters {
      .cm-agenda-tab-content {
        height: 100%;
      }
    }
    .cm-agenda-tab-content {
      > div {
        padding: 1em;
      }
    }
    &.cm-agenda-tab-chapters {
      .cm-agenda-tab-content {
        > div {
          padding: 0;
        }
      }
    }
  }
}
