.cm-agenda-popcorn {
  .cm-agenda-info-container {
    .cm-agenda-info {
      display: none;
      &.active {
        display: block;
      }
    }
  }
  .cm-agenda-speaker-container {
    .cm-agenda-speaker-name {
      display: none;
      &.active {
        display: inline-block;
      }
    }
  }

}



