/* line 2, ../sass/cm_agenda_editor.scss */
.vis.timeline.root {
  border-top: 4px solid #888;
}
/* line 5, ../sass/cm_agenda_editor.scss */
.vis.timeline .background.horizontal {
  background: #eee;
}
/* line 8, ../sass/cm_agenda_editor.scss */
.vis.timeline .item {
  background: #fff;
}
/* line 10, ../sass/cm_agenda_editor.scss */
.vis.timeline .item.selected {
  border-color: #FF0000;
  background-color: #FFC0C0;
}
/* line 14, ../sass/cm_agenda_editor.scss */
.vis.timeline .item .delete {
  background: transparent;
  width: auto;
  height: auto;
  right: -20px;
}
/* line 19, ../sass/cm_agenda_editor.scss */
.vis.timeline .item .delete:after {
  content: "X";
  font-size: 24px;
  font-weight: bold;
  color: #FF0000;
  text-shadow: 2px 2px 2px #969696;
}
/* line 28, ../sass/cm_agenda_editor.scss */
.vis.timeline .customtime {
  background-color: #FF0000;
}
/* line 31, ../sass/cm_agenda_editor.scss */
.vis.timeline .item.range {
  border-radius: 4px;
}
/* line 33, ../sass/cm_agenda_editor.scss */
.vis.timeline .item.range:hover {
  cursor: pointer;
}
/* line 35, ../sass/cm_agenda_editor.scss */
.vis.timeline .item.range:hover .drag-left {
  left: 0;
}
/* line 37, ../sass/cm_agenda_editor.scss */
.vis.timeline .item.range:hover .drag-left:after {
  position: absolute;
  display: inline-block;
  border-top: 10px solid transparent;
  border-right: 10px solid #eee;
  border-bottom: 10px solid transparent;
  border-right-color: #FF0000;
  opacity: 0.75;
  left: 0;
  top: 8px;
  content: '';
}
/* line 50, ../sass/cm_agenda_editor.scss */
.vis.timeline .item.range:hover .drag-right {
  right: 0;
}
/* line 52, ../sass/cm_agenda_editor.scss */
.vis.timeline .item.range:hover .drag-right:after {
  position: absolute;
  display: inline-block;
  border-top: 10px solid transparent;
  border-left: 10px solid #eee;
  border-bottom: 10px solid transparent;
  border-left-color: #FF0000;
  opacity: 0.75;
  right: 0;
  top: 8px;
  content: '';
}
/* line 66, ../sass/cm_agenda_editor.scss */
.vis.timeline .item.range.selected {
  cursor: move;
}
/* line 70, ../sass/cm_agenda_editor.scss */
.vis.timeline .item {
  border-color: #ccc;
}
/* line 73, ../sass/cm_agenda_editor.scss */
.vis.timeline .vispanel-center {
  border: 2px solid #ccc;
}

/* Float, flex and scrollbars. Only for non-mobile sizes */
@media screen and (min-width: 48.25em) {
  /* line 80, ../sass/cm_agenda_editor.scss */
  .cm-agenda-editor-player-events {
    height: calc(100vh - 420px);
  }
  /* line 82, ../sass/cm_agenda_editor.scss */
  .cm-agenda-editor-player-events .cm-agenda-left, .cm-agenda-editor-player-events .cm-agenda-right {
    display: flex;
    flex-direction: column;
  }
  /* line 85, ../sass/cm_agenda_editor.scss */
  .cm-agenda-editor-player-events .cm-agenda-left .cm-agenda-video, .cm-agenda-editor-player-events .cm-agenda-right .cm-agenda-video {
    flex: 0 1 auto;
  }
  /* line 89, ../sass/cm_agenda_editor.scss */
  .cm-agenda-editor-player-events .cm-agenda-left {
    float: left;
    width: 49%;
    margin-right: 2%;
  }
  /* line 93, ../sass/cm_agenda_editor.scss */
  .cm-agenda-editor-player-events .cm-agenda-left .cm-agenda-editor-save {
    margin-top: 2em;
  }
  /* line 97, ../sass/cm_agenda_editor.scss */
  .cm-agenda-editor-player-events .cm-agenda-right {
    float: right;
    width: 49%;
    height: 100%;
  }
  /* line 102, ../sass/cm_agenda_editor.scss */
  .cm-agenda-editor-player-events .cm-agenda-right .cm-agenda-chapter-container {
    overflow: auto;
  }
  /* line 105, ../sass/cm_agenda_editor.scss */
  .cm-agenda-editor-player-events .cm-agenda-right table {
    margin: 0;
    border: none;
  }
  /* line 110, ../sass/cm_agenda_editor.scss */
  .cm-agenda-editor-player-events .cm-agenda-right table > thead > tr > th {
    border-bottom: 2px solid #ddd;
  }
  /* line 116, ../sass/cm_agenda_editor.scss */
  .cm-agenda-editor-player-events .cm-agenda-right table thead th {
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
  }
  /* line 124, ../sass/cm_agenda_editor.scss */
  .cm-agenda-editor-player-events .cm-agenda-right table tbody tr.odd, .cm-agenda-editor-player-events .cm-agenda-right table tbody tr.even {
    border-top: 1px solid #ddd;
    background: transparent;
  }
  /* line 128, ../sass/cm_agenda_editor.scss */
  .cm-agenda-editor-player-events .cm-agenda-right table tbody tr.cm_agenda_chapter {
    background: #f9f9f9;
  }
  /* line 131, ../sass/cm_agenda_editor.scss */
  .cm-agenda-editor-player-events .cm-agenda-right table tbody tr.cm_agenda_speaker {
    font-size: 0.875em;
  }
  /* line 134, ../sass/cm_agenda_editor.scss */
  .cm-agenda-editor-player-events .cm-agenda-right table tbody tr.cm_agenda_speaker td .cm_agenda_speaker_name {
    padding-left: 1em;
  }
  /* line 139, ../sass/cm_agenda_editor.scss */
  .cm-agenda-editor-player-events .cm-agenda-right table tbody tr td {
    border: none;
  }

  /* line 147, ../sass/cm_agenda_editor.scss */
  .cm-agenda-editor-timeline {
    clear: both;
    font-size: 0.813em;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 500;
  }
}
/* Responsive video, as Fitvids doesn't work with MediaFront */
/* line 160, ../sass/cm_agenda_editor.scss */
.cm-agenda-video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  z-index: 99;
}
/* line 166, ../sass/cm_agenda_editor.scss */
.cm-agenda-video iframe, .cm-agenda-video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 176, ../sass/cm_agenda_editor.scss */
.node-type-cm-agenda .tabs-primary {
  float: right;
  margin-right: 1em;
}
/* line 181, ../sass/cm_agenda_editor.scss */
.node-type-cm-agenda ul.primary .tabs-primary__tab-link {
  color: #eee;
  background-color: #666;
  padding: 0.5em;
}
/* line 185, ../sass/cm_agenda_editor.scss */
.node-type-cm-agenda ul.primary .tabs-primary__tab-link.active {
  background: #000;
  color: #fff;
}
