.vis.timeline {
  &.root {
    border-top: 4px solid #888;
  }
  .background.horizontal {
    background: #eee;
  }
  .item {
    background: #fff;
    &.selected {
      border-color: #FF0000;
      background-color: #FFC0C0;
    }
    .delete {
      background: transparent;
      width: auto;
      height: auto;
      right: -20px;
      &:after {
        content: "X";
        font-size: 24px;
        font-weight: bold;
        color: #FF0000;
        text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
      }
    }
  }
  .customtime {
    background-color: #FF0000;
  }
  .item.range {
    border-radius: 4px;
    &:hover {
      cursor: pointer;
      .drag-left {
        left: 0;
        &:after {
          position: absolute;
          display: inline-block;
          border-top: 10px solid transparent;
          border-right: 10px solid #eee;
          border-bottom: 10px solid transparent;
          border-right-color: #FF0000;
          opacity: 0.75;
          left: 0;
          top: 8px;
          content: '';
        }
      }
      .drag-right {
        right: 0;
        &:after {
          position: absolute;
          display: inline-block;
          border-top: 10px solid transparent;
          border-left: 10px solid #eee;
          border-bottom: 10px solid transparent;
          border-left-color: #FF0000;
          opacity: 0.75;
          right: 0;
          top: 8px;
          content: '';
        }
      }
    }
    &.selected {
      cursor: move;
    }
  }
  .item {
    border-color: #ccc;
  }
  .vispanel-center {
    border: 2px solid #ccc;
  }
}

/* Float, flex and scrollbars. Only for non-mobile sizes */
@media screen and (min-width: 48.25em) {
  .cm-agenda-editor-player-events {
    height: calc(100vh - 420px);
    .cm-agenda-left, .cm-agenda-right {
      display: flex;
      flex-direction: column;
      .cm-agenda-video {
        flex: 0 1 auto;
      }
    }
    .cm-agenda-left {
      float: left;
      width: 49%;
      margin-right: 2%;
      .cm-agenda-editor-save {
        margin-top: 2em;
      }
    }
    .cm-agenda-right {
      float: right;
      width: 49%;
      height: 100%;

      .cm-agenda-chapter-container {
        overflow: auto;
      }
      table {
        margin: 0;
        border: none;
        >thead {
          >tr {
            >th {
              border-bottom: 2px solid #ddd;
            }
          }
        }
        thead {
          th {
            border: none;
            border-bottom: 1px solid #ddd;
            background: transparent;
          }
        }
        tbody {
          tr {
            &.odd, &.even {
              border-top: 1px solid #ddd;
              background: transparent;
            }
            &.cm_agenda_chapter {
              background: #f9f9f9;
            }
            &.cm_agenda_speaker {
              font-size: 0.875em;
              td {
                .cm_agenda_speaker_name {
                  padding-left: 1em;
                }
              }
            }
            td {
              border: none;
            }
          }
        }
      }
    }
  }
  .cm-agenda-editor-timeline {
    clear: both;
    font-size: 0.813em;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 500;
  }
}

/* Responsive video, as Fitvids doesn't work with MediaFront */
.cm-agenda-video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  z-index: 99;

  iframe, video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.node-type-cm-agenda {
  .tabs-primary {
    float: right;
    margin-right: 1em;
  }
  ul.primary {
    .tabs-primary__tab-link {
      color: #eee;
      background-color: #666;
      padding: 0.5em;
      &.active {
        background: #000;
        color: #fff;
      }
    }
  }
}
