.cm-agenda {

  /* Float, flex and scrollbars. Only for non-mobile sizes */
  @media screen and (min-width: 48.25em) {
    height: 100vh;
    .cm-agenda-left {
      float: left;
      max-width: 59%;
      margin-right: 2%;
    }
    .cm-agenda-wrapper {
      float: right;
      width: calc(100vh * 0.84);
      max-width: 100%;
    }
    .cm-agenda-right {
      height: calc(100vh);
      width: 39%;
      float: left;
    }
    .cm-agenda-left, .cm-agenda-right {
      .cm-agenda-video {
      }
      .cm-agenda-speaker-container {
        display: block;
        width: 100%;
      }
      .cm-agenda-info-container {
        height: calc(26vh * 1.71);
        position: relative;
        .cm-agenda-info {
          position: absolute;
          top: 0; left: 0; bottom: 0; right: 0;
          overflow: auto;
        }
      }
      .cm-agenda-chapter-container, .field-cm-agenda-description {
        max-height: calc(100vh - 70px);
        overflow: auto;
        .item-list {
        }
        .cm-agenda-chapter-list {
        }
      }
    }
  }
}

 .cm-agenda-live-admin-form {
  @media screen and (min-width: 48.25em) {
    .cm-agenda-left {
      width: 39%;
      height: calc(100vh - 200px);
    }
    .cm-agenda-right {
      width: 59%;
      height: calc(100vh - 200px);
      .cm-agenda-chapter-container {
        height: calc(100vh - 560px);
      }
    }
  }
}
